.timelens {
  position: relative;
}

.timelens img {
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;

  position: relative;
  z-index: 999;
}

.timelens .thumbnail {
  border: solid white 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 blue, 0 0 7px black;
  width: 0px;
  height: 0px;
  position: absolute;
  top: -110px;
  display: none;
}

.timelens .marker {
  width: 0px;
  height: 0px;
  border-bottom: 11px solid black;
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
}
