/* Common styles */

.timelens {
    position: relative;
}

.timelens img {
    width: 100%;
    height: 100%;
    display: block;

    position: relative;
}

.timelens-thumbnail {
    background: black;
    border: solid rgba(28, 28, 28, 0.9) 3px !important;
    border-radius: 3px;
    background-clip: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -110px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.2s, z-index 0.2s;
}

.timelens-time {
    font-size: 15px !important;
    font-family: Arial, sans-serif !important;
    color: #eee;
    background: rgba(28, 28, 28, 0.9);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: inline-block !important;
    padding: 0 10px !important;
    border-radius: 2px 2px 0 0;
    height: 22px;
    vertical-align: middle !important;
    line-height: 25px !important;
}

.timelens img:hover + .timelens-thumbnail {
    z-index: 1;
    opacity: 1;
}

.timelens-marker {
    width: 0px;
    height: 0px;
    border-bottom: 11px solid black;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
}

/* MediaElement.js */

.mejs__time-slider {
    height: 40px;
    margin-top: -15px;
}

.mejs__time-float {
    display: none !important;
}

/* Clappr */

.media-control .bar-background {
    height: 10px !important;
}

.media-control .seek-time {
    display: none !important;
}
